<div fxLayout="row">
    <form [formGroup]="datos" class="w-100">
        <div class="form-row">
            <!-- // Informacion Principal  // -->
            <div class="col-md-12">
                <div class="my-2">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="w-100">
                        <div class="">
                            <a *ngIf="data.tipoForm == 0" class="my-2" style="font-size: 18px"><i
                                    class="fa fa-plus"></i>&nbsp;&nbsp;Nuevo
                                Usuario</a>
                            <a *ngIf="data.tipoForm == 1" class="my-2" style="font-size: 18px"><i
                                    class="fa fa-edit"></i>&nbsp;&nbsp;Editar
                                Usuario </a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username">Nombre de Usuario <b class="text-danger">*</b></label>
                                    <input type="text" formControlName="username" name="username" id="username"
                                        class="form-control" placeholder="Nombre de Usuario">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nombre">Nombre <b class="text-danger">*</b></label>
                                    <input type="text" formControlName="nombre" name="nombre" id="nombre"
                                        class="form-control" placeholder="Nombre">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username">Apellido <b class="text-danger">*</b></label>
                                    <input type="text" formControlName="apellido" name="apellido" id="apellido"
                                        class="form-control" placeholder="Apellido">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="documento">Documento <b class="text-danger">*</b></label>
                                    <input type="text" formControlName="documento" name="documento" id="documento"
                                        class="form-control" placeholder="Documento">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email <b class="text-danger">*</b></label>
                                    <input type="text" formControlName="email" name="email" id="email"
                                        class="form-control" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button [disabled]="!datos.valid" (click)="submit()" type="button" class="btn btn-sm btn-simple btn-info"><i [ngClass]="data.tipoForm == 0 ? 'fa fa-save' : 'fa fa-edit'"></i> Guardar</button>
                                    <button (click)="close(0)" type="button" class="btn btn-sm btn-simple btn-info"><i class="fa fa-times"></i> Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>