<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <button (click)="nuevo()" style="margin-left: 10px;" pTooltip="Nuevo Grupo Indicador"
                                tooltipPosition="top" type="button" class="btn btn-sm text-white"><i
                                    class="fa fa-plus"></i> Nuevo</button>
                        </div>
                        <div class="col-md-4">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
                                <input style="width: 100%" (keyup)="applyFilter($event.target.value)" type="text"
                                    pInputText placeholder="Buscar Por...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="">
                        <table mat-table [dataSource]="dataSource" matSort class="w-100">

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let item">
                                    <div class="row">
                                        <button pTooltip="Editar Indicador Grupo" tooltipPosition="top" mat-icon-button
                                            (click)="editar(item)">
                                            <mat-icon class="mat-18 text-info">create</mat-icon>
                                        </button>
                                        <button *ngIf="item.estado == 0" (click)="setEstado(item)" pTooltip="Anular Indicador Grupo" tooltipPosition="top" mat-icon-button>
                                            <mat-icon class="mat-18 text-danger">cancel</mat-icon>
                                        </button>
                                        <button *ngIf="item.estado == 1" (click)="setEstado(item)" pTooltip="Habilitar Indicador Grupo" tooltipPosition="top" mat-icon-button>
                                            <mat-icon class="mat-18 text-warning">cached</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nombreGrupo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Indicador Grupo</th>
                                <td mat-cell *matCellDef="let item"> {{item.nombreGrupo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombreTipo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Indicador Tipo</th>
                                <td mat-cell *matCellDef="let item"> {{item.fkTipo.nombreTipo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let item">
                                    <span *ngIf="item.estado == 0" class="badge bg-success text-white"><i
                                            class="fa fa-check-circle"></i> Activo</span>
                                    <span *ngIf="item.estado == 1" class="badge bg-danger text-white"><i
                                            class="fa fa-ban"></i> Inactivo</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10,15,20,50,100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>