<div fxLayout="row">
    <form [formGroup]="datos" style="height: 100%" class="w-100">
        <div class="form-row">
            <!-- // Informacion Principal  // -->
            <div class="col-md-12">

                <div class="form-row">
                    <div class="col-md-4">

                            
                        <div class="card " style="background-color: rgb(226, 222, 222); padding: 15px">

                            <h4 class="card-title"><i class="fa fa-plus"></i>&nbsp; Generar Encuesta</h4>
                            <div class="card- bg-white" style="padding: 10px;border-radius: 5px;">
                                
                                <div class="form-group">
                                    <label for="empresa">Empresa <b class="text-danger">*</b></label>
                                    <input readonly type="text" name="empresa" id="empresa" formControlName="empresa"
                                        class="form-control" placeholder="Empresa">
                                </div>

                                <div class="form-group">
                                    <label for="usuario">Usuario <b class="text-danger">*</b></label>
                                    <input readonly type="text" name="usuario" id="usuario" formControlName="usuario"
                                        class="form-control" placeholder="Usuario">
                                </div>

                                <div class="form-group">
                                    <label for="nombre">Nombre de Encuesta <b class="text-danger">*</b></label>
                                    <input type="text" name="nombre" id="nombre" formControlName="nombre"
                                        class="form-control" placeholder="Nombre de Encuesta">
                                </div>

                                <div class="alert text-muted" role="alert">
                                    <strong>No. de preguntas Seleccionadas:</strong> &nbsp;
                                    <strong
                                        style="font-size: 20px; font-weight: 100;">{{preguntasSelected.length}}</strong>
                                </div>

                                <button [disabled]="!datos.valid" type="button" class="btn btn-lg btn-info btn-block"
                                    (click)="openModal()">
                                    <i class="fa fa-pencil-alt"></i>&nbsp; Seleccionar Preguntas</button>


                                <!-- // Submit // -->
                                <div class="col-md-12">
                                    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
                                        <button [disabled]="!datos.valid || preguntasSelected.length == 0"
                                            [ngClass]="data.tipoForm == 0 ? 'text-success' : 'text-info'" mat-button
                                            class="bg-white" (click)="submit()">
                                            <mat-icon *ngIf="data.tipoForm == 0">save</mat-icon>
                                            <mat-icon *ngIf="data.tipoForm == 1">create</mat-icon>
                                            Guardar
                                        </button>

                                        <button mat-button class="bg-white text-danger" (click)="close()">
                                            <mat-icon>cancel</mat-icon> Cancelar
                                        </button>
                                    </div>
                                </div>

                                <br>
                                <br>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-8">

                        <div class="card" style="background-color: rgb(226, 222, 222);">
                            <div class="card-body">
                                <h4 class="card-title"><i class="fa fa-pencil-alt"></i>&nbsp; Preguntas de la Encuesta
                                </h4>
                                <div
                                    style=" max-height: 70vh; overflow-y: scroll; padding: 10px; border-radius: 5px; background-color: #fff;">
                                    <table *ngIf="preguntasSelected.length > 0" class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th><i class="fa fa-arrow-down text-warning"></i>&nbsp; No.
                                                </th>
                                                <th style="width: 300px;"><i class="fa fa-file text-warning"></i>&nbsp;
                                                    Descripcion</th>
                                                <th><i class="fa fa-arrow-down text-warning"></i>&nbsp; Grupo</th>
                                                <th><i class="fa fa-arrow-down text-warning"></i>&nbsp; Categoria</th>
                                                <th> <i class="fa fa-times text-danger"></i>&nbsp; Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="preguntasSelected.length > 0">
                                            <tr *ngFor="let item of preguntasSelected; let i=index">
                                                <td scope="row">{{item.id}}</td>
                                                <td (click)="op.toggle($event)" (mouseenter)="mouseEnter(item)" (mouseleave)="mouseLeave(item)"
                                                [ngClass]="{'desc-selected': desc1 == item.id}" style="transition: all .3s;">
                                                    {{desc1 == item.id ? (item.descripcion | truncate : item.descripcion.length) : (item.descripcion | truncate : 30)}}
                                                    </td>
                                                <td>{{item.idGrupo.nombre}}</td>
                                                <td>{{item.idCategoria.nombre}}</td>
                                                <td>
                                                    <button mat-icon-button  pTooltip="Eliminar Pregunta" tooltipPosition="top" (click)="deletePregunta(i)">
                                                        <mat-icon class="mat-18">cancel</mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div *ngIf="preguntasSelected.length == 0" style="height: 30vh; width: 100%;" class="text-center text-info">
                                        <br><br><i  style="font-size: 100px;" class="fas fa-list-alt"></i><br>
                                        Seleccione las pregunatass para la encuesta!
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </form>

    
</div>


<p-dialog [(visible)]="display" [closable]="false" [draggable]="false" [responsive]="true" [baseZIndex]="10000"
    [style]="{width: '80%'}">

    <p-header>
        <i class="fa fa-pencil-alt"></i> Listado de Preguntas

        <div class="ui-inputgroup" style="float: right; width: 500px;">
            <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
            <input style="width: 100%" (keyup)="applyFilter($event.target.value)" type="text" pInputText
                placeholder="Buscar Por...">
            <button (click)="closeModal()" class="ui-button-danger" pButton label="Cancelar"
                icon="fa fa-times"></button>
        </div>

    </p-header>


    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let item; let i = index">
                <div class="row">
                    <button pTooltip="Seleccionar" tooltipPosition="top" mat-icon-button
                        (click)="seleccionarPregunta({data:item,indice:i})">
                        <mat-icon class="text-info">add</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="responsable">
            <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header> Responsable </th>
            <td mat-cell *matCellDef="let item"> {{item.responsable}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Descripcion </th>
            <td mat-cell *matCellDef="let item" (mouseenter)="mouseEnter(item)" (mouseleave)="mouseLeave(item)"
                [ngClass]="{'desc-selected': desc1 == item.descripcion}" style="transition: all .3s;">
                {{desc1 == item.id ? (item.descripcion | truncate : item.descripcion.length) : (item.descripcion | truncate : 30)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="referencia">
            <th mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Referencia </th>
            <td mat-cell *matCellDef="let item" (mouseenter)="mouseEnter2(item)" (mouseleave)="mouseLeave2(item)"
                [ngClass]="{'desc-selected': desc2 == item.id}" style="transition: all .3s;">
                {{desc2 == item.id ? (item.referencia | truncate : item.referencia.length) : (item.referencia | truncate : 30)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="periodo">
            <th mat-header-cell *matHeaderCellDef style="width: 20%" mat-sort-header> Periodo </th>
            <td mat-cell *matCellDef="let item" (mouseenter)="mouseEnter3(item)" (mouseleave)="mouseLeave3(item)"
                [ngClass]="{'desc-selected': desc3 == item.id}" style="transition: all .3s;">
                {{desc3 == item.id ? (item.periodo | truncate : item.periodo.length) : (item.periodo | truncate : 30)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header> Grupo </th>
            <td mat-cell *matCellDef="let item"> {{item.idGrupo.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef style="width: 10%" mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let item"> {{item.idCategoria.nombre}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20,50,100]" showFirstLastButtons></mat-paginator>

</p-dialog>