<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <button (click)="nuevo()" style="margin-left: 10px;" pTooltip="Nuevo Usuario"
                                tooltipPosition="top" type="button" class="btn btn-sm btn-info"><i
                                    class="fa fa-plus"></i> Nuevo</button>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group w-100">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="tim-icons icon-zoom-split text-info"></i>
                                    </div>
                                </div>
                                <input (keyup)="applyFilter($event.target.value)" type="text" class="form-control"
                                    placeholder="Buscar por...">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="">
                        <table mat-table [dataSource]="dataSource" matSort class="w-100">

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                <td mat-cell *matCellDef="let item">
                                    <div class="row">

                                        <button (click)="editar(item)" pTooltip="Editar Usuario" tooltipPosition="top"
                                            type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                            <i class="tim-icons icon-pencil"></i>
                                        </button>
                                        <button *ngIf="item.enabled" (click)="setEstado(item)" pTooltip="Anular Usuario"
                                            tooltipPosition="top" type="button" rel="tooltip"
                                            class="btn btn-link btn-icon btn-sm text-danger">
                                            <i class="tim-icons icon-simple-remove"></i>
                                        </button>
                                        <button *ngIf="!item.enabled" (click)="setEstado(item)"
                                            pTooltip="Habilitar Usuario" tooltipPosition="top" type="button"
                                            rel="tooltip" class="btn btn-link btn-icon btn-sm text-warning">
                                            <i class="tim-icons icon-refresh-01"></i>
                                        </button>

                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Usuario</th>
                                <td mat-cell *matCellDef="let item"> {{item.username}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="apellido">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                                <td mat-cell *matCellDef="let item"> {{item.apellido}} </td>
                            </ng-container>

                            <ng-container matColumnDef="documento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                                <td mat-cell *matCellDef="let item"> {{item.documento}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                                <td mat-cell *matCellDef="let item"> {{item.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="enabled">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                                <td mat-cell *matCellDef="let item">
                                    <span *ngIf="item.enabled" class="badge bg-success text-white"><i
                                            class="fa fa-check-circle"></i> Activo</span>
                                    <span *ngIf="!item.enabled" class="badge bg-danger text-white"><i
                                            class="fa fa-ban"></i> Inactivo</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10,15,20,50,100]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>