
    <div class=" row">
     <div class=" col-12">
       <div class=" card card-chart">
         <div class=" card-header">
           <div class=" row">
             <div class=" col-sm-6 text-left">
               <h5 class=" card-category">Seleccionar departamento</h5>
               <h2 class=" card-title" >Estadísticas Municipales</h2>
             </div>

             <div class=" col-sm-6">
                <div class=" btn-group btn-group-toggle float-right" style="width: 100%" data-toggle="buttons">
                    <mat-form-field style="margin-left: 2rem; margin-right: 2rem; width: 100%" *ngIf="indicadores?.length != 0">
                        <mat-select [(ngModel)]="departamento" placeholder="Seleccionar Departamentos" (selectionChange)="setDepartamento()" >
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="departamentoFilterCtrl" [placeholderLabel]="'Buscar departamento...'"
                            [noEntriesFoundLabel]="'no se encontró el departamento'"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let departamento of departamentos | searchPipe:{entidad: departamentoFilterCtrl} " [value]="departamento">
                            {{departamento.entidad}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>                                  
                </div>
              </div>



           </div>
         </div>
         <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem">
        <div class="row">          
          <div class="col-md-4">
              <div class=" card card-chart">
                  <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem; background: #f2f4f9">
                      <h5 class=" card-category" style="font-size: x-small;margin-bottom: 0px;">Seleccionar Municipio</h5>
                      <h2 class=" card-title" style="font-size: initial;" >Municipios</h2>



                      <mat-form-field style="width: 100%" >
                          <mat-select [(ngModel)]="municipio" placeholder="Seleccionar Municipio" (selectionChange)="setMunicipio()" >
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="municipioFilterCtrl" [placeholderLabel]="'Buscar municipio...'"
                              [noEntriesFoundLabel]="'no se encontró el municipio'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let m of municipios | searchPipe:{entidad: municipioFilterCtrl} " [value]="m">
                              {{m.entidad}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> 
                    
                  </div>
                </div>


                <div class="row">
                    <div class=" col-lg-12">
                        <div class=" card card-chart">
                          <div class=" card-header">
                            <h5 class=" card-category" *ngIf="datos">Periodos ficha {{datos[0]?.nombreTipo}}</h5>
                            <h3 class=" card-title">
                              <i class=" tim-icons icon-bank text-danger-states"> </i> {{municipio?.entidad}}
                            </h3>
                          </div>
                          <div class=" card-body">
                              <p-chart *ngIf="dataPeriodos" type="line" [data]="dataPeriodos" ></p-chart>

                          </div>
                        </div>
                      </div>
                </div>
          </div>


          <div class="col-md-8">
              <div class=" card card-chart">
                  <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem; background: #f2f4f9">
                    
                      <div class="row">
                          <div class=" col-sm-6 text-left">
                              <h5 class=" card-category mb-0">Seleccionar Peridodo</h5>
                              <h2 class=" card-title mb-0"style="font-size: large;" >Ficha {{municipio?.entidad}}</h2>
                              <h2 class=" card-title"style="font-size: small;" *ngIf="datos">{{datos[0]?.nombreTipo}}</h2>

                            </div>               
                            <div class=" col-sm-6">
                               <div class=" btn-group btn-group-toggle float-right" style="width: 100%" data-toggle="buttons" *ngIf="indicadores?.length != 0">
                                   <mat-form-field style="margin-left: 2rem; margin-right: 2rem; width: 100%">
                                       <mat-select [(ngModel)]="periodo" placeholder="Seleccionar Periodo" (selectionChange)="setPeriodo()" >
                                         <mat-option>
                                           <ngx-mat-select-search [(ngModel)]="periodoFilterCtrl" [placeholderLabel]="'Buscar periodo...'"
                                           [noEntriesFoundLabel]="'no se encontró el peridodo'"></ngx-mat-select-search>
                                         </mat-option>
                                         <mat-option *ngFor="let periodo of periodos | searchPipe:{periodo: periodoFilterCtrl} " [value]="periodo">
                                           {{periodo}}
                                         </mat-option>
                                       </mat-select>
                                     </mat-form-field>                                  
                               </div>
                             </div>
                      </div>
                      <div class="row">
                      
                          <app-datos-table *ngIf="datos" [indicadores]="datos"></app-datos-table>
 
                      </div>
                  </div>
                </div>
          </div>
        </div>
         </div>
       </div>
     </div>
   </div> 


  



 
 
 