.alerta{
    font-weight: 900;
    font-size: 1.5rem;
}


.municipio{
 
    background: #f7f7f7;
    border: 1px solid #e1e1e1;
}

.municipio:hover{
background: #cecccc;
cursor: pointer;

}


.alert-green{
    width: 1rem;
    height: 1rem;
    background: #33b247;
    border-radius: 50%;
    border: 0.15rem solid #c3c3c3;
}


.alert-red{
    width: 1rem;
    height: 1rem;
    background: #b23333;
    border-radius: 50%;
    border: 0.15rem solid #c3c3c3;
}

.alert-gray{
    width: 1rem;
    height: 1rem;
    background: #eaeceb;
    border-radius: 50%;
    border: 0.15rem solid #c3c3c3;
}