.text-white{
    color: white !important;
}

.indicador-selected{
    transition: all .3s;
    background: #3b54ac !important;
}

.indicador:hover{
    cursor: pointer;
}


.text-white{
    color: white !important;
}



