.text-white{
    color: white !important;
}

.primer-indicador{
    transition: all .3s;
    background: #3b54ac;
}

.primer-indicador:hover{
    background: #13182d;
    cursor: pointer;
}

.text-white{
    color: white !important;
}