<div fxLayout="row">
    <form [formGroup]="datos" style="height: 100%">
        <div class="form-row">
            <!-- // Informacion Principal  // -->
            <div class="col-md-12"
                style="padding: 15px; border-radius: 6px; margin-bottom: 15px;">
                <div class="bg-dark text-white my-2" style="border-radius: 4px;">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="w-100">
                        <div class="">
                            <a *ngIf="data.tipoForm == 0" class="text-white my-1" style="margin-left: 10px"><i
                                    class="fa fa-plus"></i>&nbsp;Nueva Preguntas</a>
                            <a *ngIf="data.tipoForm == 1" class="text-white my-1" style="margin-left: 10px"><i
                                    class="fa fa-edit"></i>&nbsp;Editar Preguntas </a>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">

                                <label for="">Tercero <b class="text-danger">*</b></label>
                                <div class="ui-inputgroup" style="width: 100%">
                                    <button  (click)="openTerceros()" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
                                    <input class="bg-white" readonly formControlName="tercero" name="tercero" type="text" pInputText placeholder="Seleccione el Tercero">         
                                </div>

                            </div>
                            <div class="col-md-4">

                                <label for="codigoBanco">Codigo Banco <b class="text-danger">*</b></label>
                                <div class="ui-inputgroup" style="width: 100%">
                                    <button  (click)="openBancos()" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
                                    <input class="bg-white" readonly formControlName="codigoBanco" name="codigoBanco" type="text" pInputText placeholder="Seleccione el Banco">         
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="tipoCuenta">Tipo Cuenta <b class="text-danger">*</b></label>
                                    <select class="form-control form-control-sm" formControlName="tipoCuenta"
                                        name="tipoCuenta" id="tipoCuenta" placeholder="Tipo Cuenta">
                                        <option selected [value]="'CORRIENTE           '">CORRIENTE</option>
                                        <option [value]="'AHORRO              '">AHORRO</option>
                                        <option [value]="'OTROS               '">OTROS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">

                                    <label for="codigoCta">Cuenta <b class="text-danger">*</b></label>
                                    <div class="ui-inputgroup" style="width: 100%">
                                        <button  (click)="openCuentas()" pButton type="button" icon="fa fa-search" class="ui-button-warn"></button>
                                        <input class="bg-white" readonly formControlName="codigoCta" name="codigoCta" type="text" pInputText placeholder="Seleccione la Cuenta">         
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="nombreCuenta">Nombre Cuenta <b class="text-danger">*</b></label>
                                    <input class="form-control form-control-sm" name="nombreCuenta" id="nombreCuenta"
                                        placeholder="Nombre Cuenta" formControlName="nombreCuenta">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cuentaNro">No. Cuenta <b class="text-danger">*</b></label>
                                    <input class="form-control form-control-sm" name="cuentaNro" id="cuentaNro"
                                        placeholder="No. Cuenta" formControlName="cuentaNro">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- // Submit // -->
                <div class="col-md-12">
                    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
                        <button [ngClass]="data.tipoForm == 0 ? 'text-success' : 'text-info'" mat-button
                            class="bg-white" (click)="submit()">
                            <mat-icon *ngIf="data.tipoForm == 0">save</mat-icon>
                            <mat-icon *ngIf="data.tipoForm == 1">create</mat-icon>
                            Guardar
                        </button>

                        <button mat-button class="bg-white text-danger" (click)="close()">
                            <mat-icon>cancel</mat-icon> Cancelar
                        </button>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </form>
</div>
