<div *ngIf="showLoadingIndicatior" class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="assets/images/loading.png" width="20" height="20" alt="admin">
            </div>
            <p>Cargando...</p>
        </div>
    </div>
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div id="main-component" >
            <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-collapse" aria-expanded="false"></a>
                            <a href="#" onClick="return false;" class="bars"></a>
                            <a class="navbar-brand">
                                <img src="assets/images/logo.png" alt="" />
                                <span class="logo-name">EFI</span>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="pull-left">
                                <li>
                                    <a href="#" onClick="return false;" class="sidemenu-collapse">
                                        <i class="material-icons">reorder</i>
                                    </a>
                                </li>
                            </ul>
                            <!-- BARRA DE OPCIONES -->
                            <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
                                <!-- Full Screen Button -->
                                <li class="fullscreen">
                                    <a href="javascript:;" class="fullscreen-btn">
                                        <i class="fas fa-expand"></i>
                                    </a>
                                </li>
                                <!-- #END# Full Screen Button -->
                                <!-- #START# Notifications-->
                                <li class="dropdown">
                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button">
                                        <i class="far fa-bell"></i>
                                        <span class="label-count bg-orange"></span>
                                    </a>
                                    <ul class="dropdown-menu pullDown">
                                        <li class="header">NOTIFICATIONS</li>
                                        <li class="body">
                                            <ul class="menu">
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user1.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">Sarah Smith</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 14 mins ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user2.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">Airi Satou</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 22 mins ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user3.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">John Doe</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 3 hours ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user4.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">Ashton Cox</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 2 hours ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user5.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">Cara Stevens</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 4 hours ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user6.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">Charde Marshall</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> 3 hours ago
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <span class="table-img msg-user">
                                                            <img src="assets/images/user/user7.jpg" alt="">
                                                        </span>
                                                        <span class="menu-info">
                                                            <span class="menu-title">John Doe</span>
                                                            <span class="menu-desc">
                                                                <i class="material-icons">access_time</i> Yesterday
                                                            </span>
                                                            <span class="menu-desc">Please check your email.</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="footer">
                                            <a href="#" onClick="return false;">View All Notifications</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- #END# Notifications-->
                                <li class="dropdown user_profile">
                                    <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                        role="button">
                                        <img src="assets/images/user.jpg" width="32" height="32" alt="User">
                                    </a>
                                    <ul class="dropdown-menu pullDown">
                                        <li class="body">
                                            <ul class="user_dw_menu">
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <i class="material-icons">person</i>Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <i class="material-icons">feedback</i>Feedback
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <i class="material-icons">help</i>Help
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" onClick="return false;">
                                                        <i class="material-icons">power_settings_new</i>Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- #END# Tasks -->
                             
                            </ul>
                        </div>
                    </div>
                </nav>
        
        <div>
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- Menu -->
                <div class="menu">
   
                    <ul *ngIf="user != null" class="list">
                        <li class="sidebar-user-panel">
                            <div class="user-panel">
                                <div class=" image">
                                    <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                                </div>
                            </div>
                            <div class="profile-usertitle">
                                <div class="sidebar-userpic-name"> {{user.nombre}} </div>
                                <div class="profile-usertitle-job "> {{user.roles[0]}} </div>
                            </div>
                        </li>

                        <!-- GUEST MENU-->
                        <div *ngIf="menu == 1">
                                <li routerLinkActive="active">
                                    <a routerLink="empresa">
                                        <i class="far fa-building"></i>
                                        <span>Configurar Empresa</span>
                                    </a>
                                </li>
                
                                <li routerLinkActive="active">
                                    <a routerLink="widget">
                                        <i class="fas fa-bell"></i>
                                        <span>Usuarios</span>
                                    </a>
                                </li>
                
                                <li routerLinkActive="active">
                                    <a href="#" onClick="return false;" class="menu-toggle">
                                        <i class="fas fa-cogs"></i>
                                        <span>Configuracion</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li routerLinkActive="active">
                                            <a onClick="return false;" class="menu-toggle">
                                                <span>Indicadores</span>
                                            </a>
                                            <ul class="ml-menu">
                                                <li routerLinkActive="active">
                                                    <a>Tipo Indicador</a>
                                                </li>
                                                <li routerLinkActive="active">
                                                    <a>Grupo Indicador</a>
                                                </li>
                                                <li routerLinkActive="active">
                                                    <a>Variable</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li routerLinkActive="active">
                                            <a routerLink="media/carousel">Tipo de Encuesta</a>
                                        </li>
                                        <li routerLinkActive="active">
                                            <a routerLink="media/carousel">Administrar Encuesta</a>
                                        </li>
                                    </ul>
                                </li>
        
                                <li routerLinkActive="active">
                                    <a href="#" onClick="return false;" class="menu-toggle">
                                        <i class="fas fa-cogs"></i>
                                        <span>Consultas/Estadistica</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li routerLinkActive="active">
                                            <a>None</a>
                                        </li>
                                        <li routerLinkActive="active">
                                            <a>None</a>
                                        </li>
                                        <li routerLinkActive="active">
                                            <a>None</a>
                                        </li>
                                    </ul>
                                </li>
                
                        </div>
            
                        <!-- ADMIN MENU-->
                        <div *ngIf="menu == 2">
                            <li routerLinkActive="active">
                                <a routerLink="empresa">
                                    <i class="far fa-building"></i>
                                    <span>Configurar Empresa</span>
                                </a>
                            </li>
            
                            <li routerLinkActive="active">
                                <a routerLink="widget">
                                    <i class="fas fa-bell"></i>
                                    <span>Usuarios</span>
                                </a>
                            </li>
            
                            <li routerLinkActive="active">
                                <a href="#" onClick="return false;" class="menu-toggle">
                                    <i class="fas fa-cogs"></i>
                                    <span>Configuracion</span>
                                </a>
                                <ul class="ml-menu">
                                    <li routerLinkActive="active">
                                        <a onClick="return false;" class="menu-toggle">
                                            <span>Indicadores</span>
                                        </a>
                                        <ul class="ml-menu">
                                            <li routerLinkActive="active">
                                                <a>Tipo Indicador</a>
                                            </li>
                                            <li routerLinkActive="active">
                                                <a>Grupo Indicador</a>
                                            </li>
                                            <li routerLinkActive="active">
                                                <a>Variable</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="media/carousel">Tipo de Encuesta</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="media/carousel">Administrar Encuesta</a>
                                    </li>
                                </ul>
                            </li>
    
                            <li routerLinkActive="active">
                                <a href="#" onClick="return false;" class="menu-toggle">
                                    <i class="fas fa-cogs"></i>
                                    <span>Consultas/Estadistica</span>
                                </a>
                                <ul class="ml-menu">
                                    <li routerLinkActive="active">
                                        <a>None</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a>None</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a>None</a>
                                    </li>
                                </ul>
                            </li>
            
                        </div>
            
                        <!-- USER MENU-->
                        <div *ngIf="menu == 3">
                           
            
                            <li routerLinkActive="active">
                                <a routerLink="widget">
                                    <i class="fas fa-bell"></i>
                                    <span>Indicador de calidad</span>
                                </a>
                            </li>
            
                        
                        </div>
            
            
            
            
                    </ul>
                </div>
                <!-- #Menu -->
            </aside>
            <!-- #END# Left Sidebar -->
          
        </div>
    </div>

