<div fxLayout="row">
    <form [formGroup]="datos" class="w-100">
        <div class="form-row">
            <!-- // Informacion Principal  // -->
            <div class="col-md-12">
                <div class="my-2">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="w-100">
                        <div class="">
                            <a *ngIf="data.tipoForm == 0" class="my-2" style="font-size: 18px"><i
                                    class="fa fa-plus"></i>&nbsp;&nbsp;Nueva Grupo Indicador</a>
                            <a *ngIf="data.tipoForm == 1" class="my-2" style="font-size: 18px"><i
                                    class="fa fa-edit"></i>&nbsp;&nbsp;Editar Grupo Indicador</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="nombreGrupo">Nombre <b class="text-danger">*</b></label>
                                    <mat-form-field style="width: 100%" appearance="outline">
                                        <mat-label>Nombre Grupo</mat-label>
                                        <input type="text" name="nombreGrupo" id="nombreGrupo"
                                            formControlName="nombreGrupo" placeholder="Nombre Grupo" matInput>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Tipo Indicador <b class="text-danger">*</b></label>
                                    <mat-form-field style="width: 100%" appearance="outline">
                                        <mat-label>Tipo Indicador</mat-label>
                                        <mat-select placeholder="Indicador Tipo" #box
                                            (keyup.enter)="setTipo(box.value)">
                                            <mat-option>
                                                <ngx-mat-select-search
                                                    [noEntriesFoundLabel]="'No se encontró el Tipo Indicador'"
                                                    [placeholderLabel]="'Nombre del Tipo Indicador'">
                                                    <div ngxMatSelectSearchClear>
                                                        <i class="material-icons">close</i>
                                                    </div>
                                                </ngx-mat-select-search>
                                            </mat-option>
                                            <mat-option
                                                *ngFor="let item of tipos | filter: { nombreTipo: datos.value.fkTipo }"
                                                [value]="item" (click)="setTipo(item)">
                                                {{item.nombreTipo}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>map</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <hr>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button [disabled]="!datos.valid" (click)="submit()" type="button"
                                        class="btn btn-sm btn-simple btn-info"><i
                                            [ngClass]="data.tipoForm == 0 ? 'fa fa-save' : 'fa fa-edit'"></i>
                                        Guardar</button>
                                    <button (click)="close(0)" type="button" class="btn btn-sm btn-simple btn-info"><i
                                            class="fa fa-times"></i> Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>