.encuesta{
    transition: all .3s;
    background: rgb(248, 248, 248) !important
}
.encuesta:hover{
    cursor: pointer;
    background: rgb(240, 240, 240) !important
}


.pregunta:hover{
    background: #eeeeee;
}
.pregunta{
    transition: all .3s;
}



.with-observacion{
    color: #3355e2 !important;
}