/* You can add global styles to this file, and also import other style files */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }


  .ui-dialog-titlebar {
    border-radius: 7px !important;
    font-weight: 500 !important;
    text-align: center;
    border:none !important;
    background: #22272f !important;
    color: white !important;
    padding: 1em;
    font-weight: 700;
    border-bottom: 0 none;
}

.ui-dialog-content {
  background: #353c48 !important;
  color: white !important;
    border: none !important;
    padding: 0.571em 1em;
    border-radius: 7px !important;
}

.ui-dropdown {
  background: #ffffff;
  border: 1px solid #ffffff;
  transition: border-color 0.2s;
  width: 100%;

}

body .ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter{
  padding-right: 0px !important
}