
    
    <div class=" row">
     <div class=" col-12">
       <div class=" card card-chart">
         <div class=" card-header" *ngIf="variable">
           <div class=" row">
             <div class=" col-sm-6 text-left">
               <h5 class=" card-category">Seleccionar departamento</h5>
               <h2 class=" card-title" >Estadísticas Municipales</h2>
             </div>

             <div class=" col-sm-6">
                <div class=" btn-group btn-group-toggle float-right" style="width: 100%" data-toggle="buttons">
                    <mat-form-field style="width: 100%">
                        <mat-select [(ngModel)]="departamento" placeholder="Seleccionar Departamentos" (selectionChange)="setDepartamento()" >
                          <mat-option>
                            <ngx-mat-select-search [(ngModel)]="departamentoFilterCtrl" [placeholderLabel]="'Buscar departamento...'"
                            [noEntriesFoundLabel]="'no se encontró el departamento'"></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let departamento of departamentos | searchPipe:{entidad: departamentoFilterCtrl} " [value]="departamento">
                            {{departamento.entidad}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>                                  
                </div>
              </div>



           </div>
         </div>

         <div class="card-body mt-5" style="padding-left: 2rem; padding-right: 2rem" *ngIf="!variable">
            <h2 class=" card-title"  *ngIf="tendencias?.length == 0 || datos?.length == 0">No hay datos municipales que mostrar</h2>
         </div>


         <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem" *ngIf="variable">
        <div class="row">          
          <div class="col-md-4">
              <div class=" card card-chart">
                  <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem; background: #f2f4f9">
                      <h5 class=" card-category" style="font-size: x-small;margin-bottom: 0px;">Seleccionar Municipio</h5>
                      <h2 class=" card-title" style="font-size: initial;" >Municipios</h2>



                      <mat-form-field style="width: 100%" >
                          <mat-select [(ngModel)]="municipio" placeholder="Seleccionar Municipio" (selectionChange)="setMunicipio()" >
                            <mat-option>
                              <ngx-mat-select-search [(ngModel)]="municipioFilterCtrl" [placeholderLabel]="'Buscar municipio...'"
                              [noEntriesFoundLabel]="'no se encontró el municipio'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let m of municipios | searchPipe:{entidad: municipioFilterCtrl} " [value]="m">
                              {{m.entidad}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> 
                    
                  </div>
                </div>

                <div class="row">
                    <div class=" card card-chart">
                        <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem; background: #f2f4f9">
                            <h5 class=" card-category" style="font-size: x-small;margin-bottom: 0px;">Seleccionar Indicador</h5>
                            <h2 class=" card-title" style="font-size: initial;" >Tendencias</h2>
      
                            <h2 class=" card-title" style="font-size: small;color: #b3b1b1;" *ngIf="variables?.length == 0">No hay tendencias que mostrar</h2>
      
      
                          <div  *ngFor="let i of variables" 
                          [ngClass]="{'indicador-selected':i?.idVariable === variable?.idVariable, 'indicador': i?.idVariable != variable?.idVariable}"
                          (click)="setVariable(i)" >
                          <div class="color-indicador mr-2" [ngStyle]="{'background': i?.css}" ><i class=" tim-icons icon-chart-bar-32"></i></div> {{i?.nombreVariable}}</div>
                          
                        </div>
                      </div>
             </div>


<!--                 <div class="row">
                    <div class=" col-lg-12">
                        <div class=" card card-chart">
                          <div class=" card-header">
                            <h5 class="card-category periodosficha" *ngIf="datos">Periodos ficha {{indicador?.nombreTipo}}</h5>
                            <h3 class=" card-title periodosfichatitle">
                              <i class=" tim-icons icon-bank text-danger-states"> </i> {{municipio?.entidad}}
                            </h3>
                          </div>
                          <div class=" card-body grafica-s">
                              <p-chart *ngIf="dataPeriodos" type="line" [data]="dataPeriodos" ></p-chart>

                          </div>
                        </div>
                      </div>
                </div> -->
          </div>


          <div class="col-md-8">
              <div class=" card card-chart">
                  <div class=" card-body" style="padding-left: 2rem; padding-right: 2rem; background: #f2f4f9">
                    
                      <div class="row">
                          <div class=" col-sm-6 text-left">
                              <h5 class=" card-category mb-0">Seleccionar Peridodo</h5>
                              <h2 class=" card-title mb-0"style="font-size: large;" >
                                <div class="color-indicador mr-1"><i class=" tim-icons icon-bank color-white"></i></div>                                 
                                Municipio {{municipio?.entidad}}</h2>
                              <h2 class=" card-title" *ngIf="datos">{{indicador?.nombreTipo}}</h2>

                            </div>               
                            <div class=" col-sm-6">
                               <div class=" btn-group btn-group-toggle float-right" style="width: 100%" data-toggle="buttons" >
                                   <mat-form-field style="width: 100%">
                                       <mat-select [(ngModel)]="periodo" placeholder="Seleccionar Periodo" (selectionChange)="setPeriodo()" >
                                         <mat-option>
                                           <ngx-mat-select-search [(ngModel)]="periodoFilterCtrl" [placeholderLabel]="'Buscar periodo...'"
                                           [noEntriesFoundLabel]="'no se encontró el peridodo'"></ngx-mat-select-search>
                                         </mat-option>
                                         <mat-option *ngFor="let periodo of periodos | searchPipe:{periodo: periodoFilterCtrl} " [value]="periodo">
                                           {{periodo[1]}}
                                         </mat-option>
                                       </mat-select>
                                     </mat-form-field>                                  
                               </div>
                             </div>
                      </div>
                  </div>
                </div>

                <div class=" card-body grafica-s" *ngIf="chartData != null">
                  <div class="card-body " style="padding-left: 0px; padding-right: 0px;">
                    <h2 class=" card-title" style="margin-bottom: 0px;" >
                      
                      <div class="color-indicador mr-2" [ngStyle]="{'background': variable?.css}" >
                        <i class=" tim-icons icon-chart-bar-32" style="color: white;"></i></div> 

                      {{variable.nombreVariable}}</h2>
                    <h5 class=" card-category">Estadísticas anuales</h5>
                 </div>           

                  <p-chart *ngIf="chartData" type="line" [options]="options" [data]="chartData" ></p-chart>
              </div>

              <div class="card-body mt-5" style="padding-left: 2rem; padding-right: 2rem" *ngIf="chartData === null">
                <h2 class=" card-title"  >No hay datos municipales que mostrar</h2>
             </div>

          </div>
        </div>
         </div>
       </div>
     </div>
   </div> 


  



 
 
 