<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Departamento {{departamentoSeleccionado.nombreDepartamento}}</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Panel
                        </a>
                        </li>
                        <li class="breadcrumb-item active">Viabilidad Fiscal</li>
                    </ul>

                    <h6 class="page-title">Seleccione departamento</h6>
                    <p-dropdown [autoDisplayFirst]="false"  [placeholder]="'Seleccione un departamento'" 	emptyFilterMessage="No hay departamentos con esos datos" [options]="departamentos"
                    (onChange)="getIndicadoresDepartamento($event.value)" [(ngModel)]="departamentoSeleccionado"
                    optionLabel="nombreDepartamento" [filter]="true" filterBy="label,value.nombreDepartamento">
                    </p-dropdown>
                </div>
            </div>
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Cumplimiento de ley 617</div>

                    <div class="icon">
                        <div class="chart chart-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Ingresos Corrientes</div>

                    <div class="icon">
                        <span class="chart chart-bar2"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Recaudos no tributarios</div>

                    <div class="icon">
                        <div class="chart chart-bar3">Loading..</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="counter-box text-center white">
                    <div class="text font-17 m-b-5">Ejecuciones de transferencia</div>

                    <div class="icon">
                        <div class="chart chart-bar4">Loading..</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Widgets -->



        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Estadísticas</strong> {{tipoEstadisticas}} <p
                                *ngIf="tipoEstadisticas == 'Municipio' " style="    display: -webkit-inline-box;">
                                ({{municipios.length}})</p>
                        </h2>

                        <div>
                           
                            
                           


                            Subió  <i class="fas fa-arrow-up"
                            style="color: rgb(56, 193, 83) !important; margin: 4px"
                            ></i> | Bajó <i class="fas fa-arrow-down"
                            style="color: rgb(193, 56, 56) !important; margin: 4px "
                            ></i>| se mantuvo  <i class="fas fa-arrow-right"
                            style="color: rgb(54, 177, 204) !important; margin: 4px "
                            ></i>



                        </div>

                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="#" onClick="return false;" class="dropdown-toggle" data-toggle="dropdown"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li (click)="setTipoEstatidisticas('Departamento');"
                                        [ngClass]="{'selected': tipoEstadisticas == 'Departamento' }">
                                        <a href="#" onClick="return false;">Departamento</a>
                                    </li>
                                    <li (click)="setTipoEstatidisticas('Municipio');"
                                        [ngClass]="{'selected': tipoEstadisticas == 'Municipio' }">
                                        <a href="#" onClick="return false;">Municipio</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div *ngIf="tipoEstadisticas == 'Departamento'" class="animated fadeIn fast">
                            <div *ngFor="let i of Indicadores" class="list-item"
                                [ngClass]="{'selected': Tipo == i.tipo }" (click)="cambiarGrafica(i.tipo)">
                                <i class="fas fa-chart-bar"
                                    style="font-size: 20px;position: absolute; top:  20px; left: 10px;"
                                    [style.color]="getColorIndicador(i.tipo)"></i>
                                <h5 class="item-title" style="    font-size: unset; margin-left: 20px">{{i.nombreTipo}}
                                </h5>
                            </div>
                        </div>


                        <div *ngIf="tipoEstadisticas == 'Municipio'" class="animated fadeIn fast">
                            <!--  <perfect-scrollbar style="max-height: 400px;" >
                                        <div class="list-item" [ngClass]="{'selected': municipioSeleccionado == m }" (click)="getIndicadoresMunicipio(m)" *ngFor="let m of municipios">
                                            <i class="fas fa-map-pin" style="    color: gray !important;
                                            font-size: 20px;
                                            top: 20px;
                                            position: absolute;
                                            left: 10px;"></i>
                                          <h5 class="item-title" style="margin-left: 20px">{{m.nombreMunicipio}}</h5>
                                        </div>
                                      </perfect-scrollbar> -->


                            <p-dropdown [autoDisplayFirst]="false"  [placeholder]="'Seleccione un municipio'" 	emptyFilterMessage="No hay municipios con esos datos" [options]="municipios"
                                (onChange)="getIndicadoresMunicipio($event.value)" [(ngModel)]="municipioSeleccionado"
                                optionLabel="nombreMunicipio" [filter]="true" filterBy="label,value.nombreMunicipio">
                            </p-dropdown>




                        </div>


                    </div>
                </div>
            </div>
            <!-- Customer Review -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="header">

                        <h2 *ngIf="tipoEstadisticas == 'Departamento'" class="animated fadeIn fast">
                            <strong>Gráfica</strong>
                            <div *ngFor="let i of Indicadores" class="animated fadeIn fast">
                                <div *ngIf="Tipo == i.tipo" class="animated fadeIn fast">{{i.nombreTipo}}</div>
                            </div>
                        </h2>

                        <h2 *ngIf="tipoEstadisticas == 'Municipio' && indicadoresMunicipio == null"
                            class="animated fadeIn fast">
                            <strong>Seleccione</strong>
                            <div class="animated fadeIn fast">
                                <div class="animated fadeIn fast">Un municipio</div>
                            </div>
                        </h2>

                        <h2 *ngIf="tipoEstadisticas == 'Municipio' && indicadoresMunicipio != null"
                            class="animated fadeIn fast">
                            <strong>{{indicadoresMunicipio[0].nombreMunicipio}}</strong>
                            <div class="animated fadeIn fast">
                                <div class="animated fadeIn fast">Ficha de desempeño físcal</div>
                            </div>
                        </h2>

                    </div>
                    <div class="body">
                        <div class="review-block">
                            <div *ngIf="tipoEstadisticas == 'Departamento'" class="animated fadeIn fast">
                                <p-chart *ngIf="data" type="horizontalBar" [data]="data" [options]="options"
                                    [width]="600" [height]="alto" class="animated fadeIn fast"
                                    (onDataSelect)="dataInfo($event)"></p-chart>
                            </div>

                            <div *ngIf="tipoEstadisticas == 'Municipio' && indicadoresMunicipio !=null"
                                class="animated fadeIn fast">
                                <div class="card">

                                    <div class="tableBody">
                                        <div class="table-responsive">
                                            <table class="table table-hover dashboard-task-infos">
                                                    <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Indicador</th>
                                                                <th>Departamental</th>
                                                                <th>Nacional</th>
                                                            </tr>
                                                        </thead>
                                                <tbody>
                                                        
                                                    <tr *ngFor="let i of indicadoresMunicipio"
                                                        [ngClass]="{'selectedtable': getAcronimo(i.nombreTipo) == 'I.D.F.' }">

                                                        <td>
                                                            <h4 style="font-size: small;">
                                                                {{i.nombreTipo}}
                                                            </h4>
                                                        </td>

                                                        <td>
                                                            
                                                            
                                                        {{i.valor}}%  

                                                        <i class="fas fa-arrow-up"
                                                                style="color: rgb(56, 193, 83) !important;"
                                                                *ngIf="i.valor > i.valorAnterior"></i>
                                                            <i class="fas fa-arrow-down"
                                                                style="color: rgb(193, 56, 56) !important; "
                                                                *ngIf="i.valor < i.valorAnterior"></i>
                                                            <i class="fas fa-arrow-right"
                                                                style="color: rgb(54, 177, 204) !important; "
                                                                *ngIf="i.valor == i.valorAnterior"></i>

                                                                {{i.valorAnterior}}%

                                                        </td>


                                                        <td>
                                                            
                                                            
                                                                #{{i.puesto}}  
        
                                                                <i class="fas fa-arrow-up"
                                                                        style="color: rgb(56, 193, 83) !important;"
                                                                        *ngIf="i.puesto < i.puestoAnterior"></i>
                                                                    <i class="fas fa-arrow-down"
                                                                        style="color: rgb(193, 56, 56) !important; "
                                                                        *ngIf="i.puesto > i.puestoAnterior"></i>
                                                                    <i class="fas fa-arrow-right"
                                                                        style="color: rgb(54, 177, 204) !important; "
                                                                        *ngIf="i.puesto == i.puestoAnterior"></i>
        
                                                                        #{{i.puestoAnterior}}
        
                                                                </td>

                                                                <td>
                                                            
                                                            
                                                                        #{{i.nacional}}  
                
                                                                        <i class="fas fa-arrow-up"
                                                                                style="color: rgb(56, 193, 83) !important; "
                                                                                *ngIf="i.nacional < i.nacionalAnterior"></i>
                                                                            <i class="fas fa-arrow-down"
                                                                                style="color: rgb(193, 56, 56) !important; "
                                                                                *ngIf="i.nacional > i.nacionalAnterior"></i>
                                                                            <i class="fas fa-arrow-right"
                                                                                style="color: rgb(54, 177, 204) !important;"
                                                                                *ngIf="i.nacional == i.nacionalAnterior"></i>
                
                                                                                #{{i.nacionalAnterior}}
                
                                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>






                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Customer Review -->
        </div>
    </div>
</section>








<p-dialog [header]="dataSeleccionada.nombreTipo +' ' +dataSeleccionada.nombreMunicipio" [(visible)]="display"
    [style]="{width: '500px', height: '200px', overflow: hidden }" *ngIf="dataSeleccionada" dismissableMask="true">


    <div style="position: relative; text-align: center; overflow: hidden">


        <div class="row">


            <div class="col-12 mb-3">

                <div class="row">
                    <div class="col-4">
                        <h4 style="font-weight: bolder;"></h4>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <h6 style="margin: 0px; border-bottom: 1px solid #dfd5d566;font-weight: 400;">Actual
                                </h6>
                            </div>




                            <div class="col-6">
                                <h6 style="margin: 0px; border-bottom: 1px solid #dfd5d566; font-weight: 400;">Anterior
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>



            </div>



            <div class="col-12" style="border-bottom: 1px solid #dfd5d5;">

                <div class="row">
                    <div class="col-4">
                        <h4 style="font-weight: bolder;">Indicador</h4>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <h4 style="margin-bottom: 5px;">{{dataSeleccionada.valor}}%</h4>
                            </div>

                            <div style="position: relative;font-size: 30px;right: 10px; bottom: 5px">
                                <i class="fas fa-arrow-down"
                                    style="color: rgb(193, 56, 56)  !important; position: absolute"
                                    *ngIf="dataSeleccionada.valor < dataSeleccionada.valorAnterior"></i>
                                <i class="fas fa-arrow-up"
                                    style="color: rgb(56, 193, 83) !important; position: absolute"
                                    *ngIf="dataSeleccionada.valor > dataSeleccionada.valorAnterior"></i>
                                <i class="fas fa-arrow-right"
                                    style="color: rgb(54, 177, 204) !important; position: absolute"
                                    *ngIf="dataSeleccionada.valor == dataSeleccionada.valorAnterior"></i>
                            </div>


                            <div class="col-6">
                                <h4 style="margin-bottom: 5px;">{{dataSeleccionada.valorAnterior}}%</h4>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


            <div class="col-12 mt-4" style="border-bottom: 1px solid #dfd5d5;">

                <div class="row">
                    <div class="col-4">
                        <h4 style="font-weight: bolder;">Departamental</h4>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <h3>#{{dataSeleccionada.puesto}}</h3>
                            </div>

                            <div style="position: relative;font-size: 30px;right: 10px;">
                                <i class="fas fa-arrow-up"
                                    style="color: rgb(56, 193, 83) !important; position: absolute"
                                    *ngIf="dataSeleccionada.puesto < dataSeleccionada.puestoAnterior"></i>
                                <i class="fas fa-arrow-down"
                                    style="color: rgb(193, 56, 56) !important; position: absolute"
                                    *ngIf="dataSeleccionada.puesto > dataSeleccionada.puestoAnterior"></i>
                                <i class="fas fa-arrow-right"
                                    style="color: rgb(54, 177, 204) !important; position: absolute"
                                    *ngIf="dataSeleccionada.puesto == dataSeleccionada.puestoAnterior"></i>
                            </div>


                            <div class="col-6">
                                <h3>#{{dataSeleccionada.puestoAnterior}}</h3>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-12 mt-4">
                <div class="row">
                    <div class="col-4">
                        <h4 style="font-weight: bolder;">Nacional</h4>
                    </div>
                    <div class="col-8">

                        <div class="row">
                            <div class="col-6">
                                <h3>#{{dataSeleccionada.nacional}}</h3>
                            </div>

                            <div style="position: relative;font-size: 30px;right: 10px;">
                                <i class="fas fa-arrow-up"
                                    style="color: rgb(56, 193, 83) !important; position: absolute"
                                    *ngIf="dataSeleccionada.nacional < dataSeleccionada.nacionalAnterior"></i>
                                <i class="fas fa-arrow-down"
                                    style="color: rgb(193, 56, 56) !important; position: absolute"
                                    *ngIf="dataSeleccionada.nacional > dataSeleccionada.nacionalAnterior"></i>
                                <i class="fas fa-arrow-right"
                                    style="color: rgb(54, 177, 204) !important; position: absolute"
                                    *ngIf="dataSeleccionada.nacional == dataSeleccionada.nacionalAnterior"></i>
                            </div>


                            <div class="col-6">
                                <h3>#{{dataSeleccionada.nacionalAnterior}}</h3>
                            </div>
                        </div>

                    </div>

                </div>


                <!--  <h5>Anterior</h5>

            <h3 style="   border-bottom: solid 1.5px gray;
            margin-bottom: 10px;
            padding: 7px;">{{dataSeleccionada.valorAnterior}}%</h3>
            <div></div>

            <h3>#{{dataSeleccionada.puestoAnterior}}</h3>




            <h3 style="    font-size: large;">Dept.</h3> -->
            </div>
        </div>
    </div>
</p-dialog>